body 
{
  background-color: #4184ff;
  text-align: center;
}
h1 
{
  color: rgb(3, 3, 3);
  border-style: solid;
  border-color:white;  
  border-width:2px;
  padding: 10px;
}
#nome
{
  text-decoration: underline;
  font-size:40px;
  color: rgb(0, 132, 255);
  background: rgb(19, 18, 18);
}
a
{
  color: rgb(13, 14, 14);
  font-size: 20px;
  border-style: dashed;
  border-color: rgb(12, 12, 12);
  border-width: 2px;
  padding: 10px;
  border-radius: 20px;
}

p{
  color: rgb(0, 0, 0);
  word-spacing: 10px;
  font-variant: small-caps;
  font-size: 20px;
  font-family: Arial;
}

.informacoes{
    color: rgb(0, 0, 2);
    font-size: 18px;
}

